css:
  html, body {
    height: 100%;
    width: 100%;
  }
  body {
    background: rgba(66,132,174,1);
    background: -moz-linear-gradient(left, rgba(66,132,174,1) 0%, rgba(72,182,232,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(66,132,174,1)), color-stop(100%, rgba(72,182,232,1)));
    background: -webkit-linear-gradient(left, rgba(66,132,174,1) 0%, rgba(72,182,232,1) 100%);
    background: -o-linear-gradient(left, rgba(66,132,174,1) 0%, rgba(72,182,232,1) 100%);
    background: -ms-linear-gradient(left, rgba(66,132,174,1) 0%, rgba(72,182,232,1) 100%);
    background: linear-gradient(to right, rgba(66,132,174,1) 0%, rgba(72,182,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4284ae', endColorstr='#48b6e8', GradientType=1 );
  }
   
  div.imga img{
    top: 0;
    position: fixed;
    margin: 10px 0px 0px 10px;
    width: 25%;
  }
   
  div.imgb img{
    position: absolute;
    width: 25%;
    right:10px;
    bottom:10px;
  }
   
  /*original svg is 160x174 ratio, .91 ratio, margin left and right is .5 of height and width*/
   
  .cta {
    display: block;
    text-decoration: none;
    position: relative;
    width:100px;
    height:100px;
    margin: 0 auto;
    border: 2px solid #f15757;
    color: #f15757;
    text-align: center;
    top: 50%;
    margin-top: -50px;
    font-weight: 600;
    font-size: 1.3em;
  }

  .cta:hover {
    cursor: pointer;
    color: #48B6E8;
    border-color: #48B6E8;
  }
   
  div.engtxt{
    font-size:1em;
    color:fff;
    position:absolute;
    width:60%;
    right:10px;
    top:20px;
  }
   
  div.cntxt{
    font-size:1em;
    color:fff;
    position: absolute;
    width:60%;
    left:10px;
    bottom:10px;
  }

  .cntxt, .engtxt {
    color: whitesmoke;
    line-height: 1.1em;
  }

<div class="imga">
<img src="/images/looplogo.svg">
</div>

<div class="engtxt">LOOP is radio for Beijing buses. Listen to custom soundtracks for bus lines between JUE venues + get the nearest JUE venue to you. LOOP is an audio tour of Beijing + your city guide to JUE.
</div>


<a class="cta" href="/map">
<p>enter</p>
<p>x</p>
<p>进入</p>
</a>

<div class="cntxt">LOOP 是北京公交广播。进入LOOP 应用收听北京音乐家转为觉会场之间公交线创作的歌曲。可以发现你当前位置最近的觉会场。LOOP是北京时空游历于觉指南。
</div>

<div class="imgb">
<img src="/images/juelogo.svg">
</div>
