h1 Music
a#map-btn href=path_to(:map) &lArr;&nbsp; Map

section#bus-909
  h2 909 &times; 小红与小小红
  <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2250361173/size=small/bgcol=333333/linkcol=4ec5ec/artwork=none/track=1469810543/transparent=true/" seamless><a href="http://loopbeijing.bandcamp.com/album/l-p-beijing">L回回P BEIJING by 小红与小小红</a></iframe>

section#bus-405
  h2 405 &times; thruoutin
  <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2250361173/size=small/bgcol=333333/linkcol=4ec5ec/artwork=none/track=765455773/transparent=true/" seamless><a href="http://loopbeijing.bandcamp.com/album/l-p-beijing">L回回P BEIJING by Thruoutin</a></iframe>

section#bus-113
  h2 113 &times; Soviet Pop
  <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2250361173/size=small/bgcol=333333/linkcol=4ec5ec/artwork=none/track=4026899272/transparent=true/" seamless><a href="http://loopbeijing.bandcamp.com/album/l-p-beijing">L回回P BEIJING by Soviet Pop</a></iframe>

section#bus-635
  h2 635 &times; Alpine Decline
  <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2250361173/size=small/bgcol=333333/linkcol=4ec5ec/artwork=none/track=379654457/transparent=true/" seamless><a href="http://loopbeijing.bandcamp.com/album/l-p-beijing">L回回P BEIJING by Alpine Decline</a></iframe>

section#bus-13
  h2 13 &times; Earsnail
  <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2250361173/size=small/bgcol=333333/linkcol=4ec5ec/artwork=none/track=3009522895/transparent=true/" seamless><a href="http://loopbeijing.bandcamp.com/album/l-p-beijing">L回回P BEIJING by Earsnail</a></iframe>
