doctype xml
Response
  Gather method="POST" action=path_to(:main) numDigits="1" timeout="7" finishOnKey="#"
    Say Enter your bus number followed by the pound key
  Say Sorry, I didn't get that.
  Redirect = path_to(:main)
