doctype xml
Response
  Gather method="POST" action=path_to(:confirm).with(params[:line]) numDigits="1" timeout="2"
    / You entered {params[:line]}
    - ['chin', 'eng'].each do |lang|
      Play = voice_url "confirm#{lang}youentered"
      - params[:line].split(//).each do |num|
        Play = voice_url "num#{lang}#{num}"

    / If this is incorrect
    Play = voice_url 'confirmincorrectback'
  Redirect method="GET" = path_to(:line).with(params[:line])
