doctype xml
Response
  Gather method="POST" action=path_to(:main) numDigits="3" timeout="10" finishOnKey="#"
    / Welcome, enter your bus number
    Play https://s3-ap-northeast-1.amazonaws.com/loop-beijing/phone-menu/Welcome.wav
  / Sorry, didn't get that
  Play https://s3-ap-northeast-1.amazonaws.com/loop-beijing/phone-menu/invalidnumber.wav
  Redirect method="GET" = path_to(:main)
