doctype xml
Response
  Say Record your message after the beep
  Say To end your recording press *
  Record action=path_to(:create).with(params[:line]) method="POST" maxLength="20" playBeep=true finishOnKey="*"
  Say No recording received
